:root {
  --background: #ffefd3;
  --dark-background: #f3debd;
  --dark-green: #183a37;
  --hair: #634944;
}

.header-left .title a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--hair);
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.huge-text {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 3.5rem;
}

.main-text {
  line-height: 1.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

.signature {
  height: 60px;
  width: auto;
  margin-top: 35px;
  margin-right: 5px;
}

ul.timeline-holder {
  margin: 0;
  padding: 0 0 0 125px;
  transform: translateZ(0);
}

li.timeline-event {
  margin: 0 0 42px 60px;
  position: relative;
  list-style: none;
  transition: 0.3s;
}

li.timeline-event:before {
  content: "";
  width: 3px;
  height: calc(100% - 20px);
  position: absolute;
  background-color: var(--dark-green);
  left: -22px;
  top: 44px;
}

li.timeline-event:last-child:before {
  display: none;
}

li.timeline-event:last-child {
  margin-bottom: 0;
}

li.timeline-event span.timeline-circle:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: -5px;
  top: 19px;
  border-radius: 90%;
  background-color: var(--dark-green);
  opacity: 0;
  transition: opacity 0.3s;
}

li.timeline-event:hover span.timeline-circle:after {
  opacity: 1;
}

span.timeline-circle {
  position: absolute;
  top: -15px;
  left: -25px;
}

span.timeline-circle:before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 90%;
  border: 3px solid var(--dark-green);
  position: absolute;
  left: -16px;
  top: 8px;
  z-index: 1;
  transition: 0.3s;
}

.timeline-event-date {
  position: absolute;
  left: -70px;
  top: 7px;
  transition: 0.3s;
  color: var(--dark-green);
  font-weight: 700;
  transform: translateX(-100%);
}

li.timeline-event:hover .timeline-event-date {
  left: -80px;
}

.timeline-event-content {
  text-align: left;
  margin-left: 42px;
}

.elementheight {
  max-height: 250px;
}

/* gilt bis xl */
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 2.5rem;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5rem 1.5rem 1rem;
    background-color: var(--background);
  }

  .header-left .title a {
    font-size: 1.3rem;
  }

  .elementheight {
    height: 180px;
  }
}

/* gilt bis md */
@media screen and (max-width: 840px) {
  h2 {
    font-size: 2rem;
  }

  .huge-text {
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
  }

  .elementheight {
    height: 120px;
    justify-content: start;
    padding: 0 3.5rem;
  }

  .order-sm-2 {
    order: 2;
  }
}

/* gilt bis sm */
@media screen and (max-width: 640px) {
  .elementheight {
    padding: 0 3rem;
  }

  .timeline-container {
    padding: 3.5rem 2rem;
  }

  li.timeline-event {
    margin-left: 0;
  }

  .timeline-event::before {
    display: none;
  }

  .timeline-circle {
    display: none;
  }

  .timeline-event-date {
    left: 15px;
  }

  li.timeline-event:hover .timeline-event-date {
    left: 10px;
  }
}

/* gilt bis xs */
@media screen and (max-width: 500px) {
  .huge-text {
    font-size: 2.75rem;
    margin-bottom: 2rem;
  }

  .timeline-container {
    padding: 3rem;
  }

  ul.timeline-holder {
    padding-left: 0;
  }

  .timeline-event {
    padding-top: 1.5rem;
  }

  .timeline-event-content {
    margin-left: 0;
  }

  .timeline-event-date {
    transform: none;
    top: 0;
    left: 0 !important;
  }
}

/* gilt bis xl 
@media screen and (max-width: 1300px)

/* gilt bis md 
@media screen and (max-width: 840px)

/* gilt bis sm 
@media screen and (max-width: 640px)

/* gilt bis xs 
@media screen and (max-width: 500px)
*/
